<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="principal">
        <div class="barra">
            <img class="logo" src="{{ url_for('static', filename='img/LogoCUT.png') }}" alt="">
            <h6 class="titulo">Control de Régistros</h6>
            <p class="usuario">Nombre Usuario</p>
            <img class="user" src="{{ url_for('static', filename='img/usuario.png') }}" alt="">
        </div>
        
        <div class="contenedor">
            <aside class="barra-lateral">
              <h6>CARRERA DEL COORDINADOR</h6>
              <button type="button" class="boton">Inicio</button>
              <button type="button" class="boton">Generales</button>
              <button type="button" class="boton">Estudio</button>
              <button type="button" class="boton">Laboral</button>
            </aside>
            <main class="main">
                <div class="registros">
                    <p>ASPIRANTES REGISTRADOS</p>
                    <h6>18</h6>
                </div>
                <div class="datos">
                    <div class="buscador">
                        <h6>INFORMACIÓN DE ASPIRANTES</h6>
                        <button class="button">Generar Excel</button>
                    </div>
                    <div class="buscador2">                     
                      <input type="search" class="buscar" placeholder="Buscar...">
                  </div>
                    <div class="contenedor-tabla">
                        <div class="tablas">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                                    
                                  <th colspan="14" style="text-align: center;" >DATOS GENERALES</th>
                                  <th colspan="6" style="text-align: center;">DATOS DE ESTUDIOS</th>
                                  <th colspan="5" style="text-align: center;">DATOS TRABAJO</th>
                              </tr>
                            </thead>
                            <colgroup span="14"></colgroup> 
                                             
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombres</th>
                                                    <th scope="col">Apellido Paterno</th>
                                                    <th scope="col">Apellido Materno</th>
                                                    <th scope="col">Posgrado</th>
                                                    <th scope="col">Sexo</th>
                                                    <th scope="col">Teléfono de Contacto</th>
                                                    <th scope="col">Correo</th>
                                                    <th scope="col">Código Postal</th>
                                                    <th scope="col">País</th>
                                                    <th scope="col">Estado</th>
                                                    <th scope="col">Ciudad</th>
                                                    <th scope="col">Colonia</th>
                                                    <th scope="col">Nacionalidad</th>
                                                    <th scope="col">Fecha de Nacimiento</th>
                                                    <th scope="col">Universidad de Procedencia</th>
                                                    <th scope="col">Carrera de Procedencia</th>
                                                    <th scope="col">Titulado</th>
                                                    <th scope="col">Ciclo de Egreso</th>
                                                    <th scope="col">Nivel de Inglés</th>
                                                    <th scope="col">Promedio</th>
                                                    <th scope="col">¿Trabajando?</th>
                                                    <th scope="col">Lugar de Trabajo</th>
                                                    <th scope="col">Horario Laboral</th>
                                                    <th scope="col">Puesto de Trabajo</th>
                                                    <th scope="col">Sector</th>
                                  </tr>
                                <tbody>
                                  {% for row in data %}
                                                <!-- Aquí puedes agregar las filas de la tabla con información de la base de datos -->
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{ row[0] }}</td>
                                                    <td>{{ row[1] }}</td>
                                                    <td>{{ row[2] }}</td>
                                                    <td>{{ row[3] }}</td>
                                                    <td>{{ row[4] }}</td>
                                                </tr>
                                                {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        
        
    </div>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='table2excel.js') }}"></script>

</body>
</html>